links.mxhzl.com {
        reverse_proxy localhost:9091
}

git.mxhzl.com {
        reverse_proxy localhost:3001 {
                header_up X-Real-Ip {remote_host}
        }
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile