[Unit]
Description=Docker Volume Driver for DigitalOcean
Before=docker.service
After=network.target dostorage.socket
Requires=dostorage.socket docker.service

[Service]
ExecStart=/usr/bin/docker-volume-plugin-dostorage --access-token={{ do_token }}  --mount-path=/mnt

[Install]
WantedBy=multi-user.target