networks:
  forgejo:
    external: false

services:
  server:
    image: codeberg.org/forgejo/forgejo:10
    container_name: forgejo
    environment:
      - USER_UID=33
      - USER_GID=33
      - FORGEJO__security__LOGIN_REMEMBER_DAYS=365
      - FORGEJO__security__INSTALL_LOCK="true"
      - FORGEJO__service__DISABLE_REGISTRATION="true"
      - FORGEJO__server__LANDING_PAGE="explore"
      - FORGEJO__server__OFFLINE_MODE="true"
      - FORGEJO__security__REVERSE_PROXY_TRUSTED_PROXIES="127.0.0.0/8,::1/128"
    restart: unless-stopped
    networks:
      - forgejo
    volumes:
      - /mnt/mxhzl/forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '3000:3000'
      - '222:22'