services:
  linkding:
    container_name: "{{ ld_container_name }}"
    image: sissbruecker/linkding:latest
    ports:
      - "{{ ld_host_port }}:9090"
    volumes:
      - "{{ ld_host_data_dir }}:/etc/linkding/data"
    env_file:
      - .env
    restart: unless-stopped