# Docker container name
LD_CONTAINER_NAME={{ ld_container_name }}
# Port on the host system that the application should be published on
LD_HOST_PORT={{ ld_host_port }}
# Directory on the host system that should be mounted as data dir into the Docker container
LD_HOST_DATA_DIR={{ ld_host_data_dir }}