# Docker container name
CONTAINER_NAME=mind_electric
# Port on the host system that the application should be published on
HOST_PORT=5000
# Directory on the host system that should be mounted as data dir into the Docker container
HOST_DATA_DIR={{ mount_dir }}/mind_electric
RAILS_MASTER_KEY={{ rails_key }}
SOLID_QUEUE_IN_PUMA=true