CONTAINER_NAME=mind_electric
HOST_PORT=5000
RAILS_MASTER_KEY={{ mind_electric_rails_key }}
SOLID_QUEUE_IN_PUMA=true
MIND_ELECTRIC_DATABASE_PASSWORD={{ mind_electric_database_password }}
MIND_ELECTRIC_DATABASE_HOST={{ database_host }}
MIND_ELECTRIC_DATABASE_PORT={{ database_port }}
MIND_ELECTRIC_DATABASE_USER={{ mind_electric_database_user }}
